<div [class.completed]="todo.completed">
  <form class="block" [formGroup]="form">
    <p *ngIf="!isEdit" class="todo-text" [colorType]="isChanged">{{todo.content}}</p>
    <ng-container *ngIf="isEdit">
      <input class="todo-text input-text"
             placeholder="Write something..."
             name="content"
             formControlName="content"
      >
      <div *ngIf="form.get('content')?.invalid && form.get('content')?.touched">
        <small class="warning"
               *ngIf="form.get('content')?.errors?.['required']"
        >Write something...</small>
        <small class="warning"
               *ngIf="form.get('content')?.errors?.['maxLength']"
        >That's too big, sport! Try to do less</small>
      </div>
    </ng-container>
    <div class="buttons" (click)="$event.stopPropagation()">
      <button type="button" *ngIf="!isEdit" class="btn" (click)="toggleTodoEdit()">Edit</button>
      <button type="button" *ngIf="isEdit" class="btn"
              (click)="onSaveClicked()"
              [disabled]="form.invalid"
      >Save
      </button>
      <button type="button" class="btn" (click)="onDeleteClicked()">Delete</button>
    </div>
  </form>
</div>
