<div class="main">
  <form class="add-todo" [formGroup]="form">
    <input type="text" name="input"
           placeholder="Enter what to do..."
           class="todo-input"
           formControlName="content"
    >
    <div class="is-urgent">
      <label class="toggler-wrapper style-3" for="isUrgent">
        <input type="checkbox" id="isUrgent" formControlName="isUrgent">
        <div class="toggler-slider">
          <div class="toggler-knob"></div>
        </div>
      </label>
      <div class="urgent-name">Urgent</div>
    </div>
    <button
      type="button"
      class="add-button"
      (click)="onFormSubmit()"
      [disabled]="form.invalid"
    >Add
    </button>
  </form>

  <div *ngIf="form.get('content')?.invalid && form.get('content')?.touched">
    <small class="warning"
           *ngIf="form.get('content')?.errors?.['required']"
    >Write something...</small>
    <small class="warning"
           *ngIf="form.get('content')?.errors?.['max-length']"
    >That's too big, sport! Try to do less</small>
  </div>

</div>
